// Place all the styles related to the facturas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.factura td {
  vertical-align: top;
}

.factura label {
  margin: 10px;
}

.splitter {
 background-color: black !important;
 -webkit-print-color-adjust: exact;
 color: white;
 text-align: center;
}

.right {
  padding-left: 150px;
  text-align: right;
}

.recibos {
  padding-bottom: 20px;
}

.ventanilla {
  border-left: 2px solid black;
  padding-left: 100px;
}

.cliente {
  padding-right: 50px;
}
